{% extends 'base.html.twig' %}

{% block title %}User Form{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/new.css') }}">
{% endblock %}

{% block body %}
    <h1>Submit Your Information</h1>

    {% if form is not empty %}
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    {% else %}
        <p>Form is empty!</p>
    {% endif %}
{% endblock %}
